.rateting-style {
    color: #ff9948;
    margin-bottom: 5px;
    white-space: nowrap
}

.rateting-style i {
    margin: 0 1px
}

.rateting-style span {
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: -.2px;
    color: #9298a1
}

.review-duo-player {
    text-align: left !important;
    margin-top: 13px
}

.review-duo-player .full-size {
    margin-top: 23px;
    width: 100%;
    float: left
}

.review-duo-player .full-size:last-child .wrapper-content-rating {
    border-bottom: none
}

.review-duo-player .full-size .review-image-small {
    float: left;
    width: 10%
}

.review-duo-player .full-size .wrapper-content-rating {
    width: 90%;
    float: left;
    border-bottom: 1px solid #e2e6ea
}

.review-duo-player .full-size .wrapper-content-rating .content-player-review {
    word-break: break-word;
    text-align: justify;
    display: inline-block;
    width: 100%
}

.review-duo-player .full-size .wrapper-content-rating .review-content {
    float: left;
    width: 80%
}

.review-duo-player .full-size .wrapper-content-rating .review-content .name-player-review {
    margin-bottom: 5px !important;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: -.2px;
    color: #354052;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.review-duo-player .full-size .wrapper-content-rating .review-content .time-player-review {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    color: #616770
}

.review-duo-player .full-size .wrapper-content-rating .review-rating {
    float: left;
    text-align: right;
    width: 20%;
    height: 100%
}

.review-duo-player .full-size .wrapper-content-rating .review-rating .time-rent-review {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    color: #000
}

@media screen and (max-width: 425px) {
    .review-duo-player .full-size .review-image-small {
        width: 15%
    }

    .review-duo-player .full-size .review-image-small .avt-img, .review-duo-player .full-size .review-image-small .avt-md {
        width: 35px;
        height: 35px
    }

    .review-duo-player .full-size .wrapper-content-rating {
        width: 85%
    }

    .review-duo-player .full-size .wrapper-content-rating .content-player-review {
        width: 100%
    }

    .review-duo-player .full-size .wrapper-content-rating .review-content {
        float: none;
        width: 100%
    }

    .review-duo-player .full-size .wrapper-content-rating .review-content .name-player-review {
        width: 100%
    }

    .review-duo-player .full-size .wrapper-content-rating .review-rating {
        width: 100%;
        float: none;
        text-align: left;
        margin: -5px 0 15px
    }

    .review-duo-player .full-size .wrapper-content-rating .review-rating .rateting-style {
        float: left
    }
}
.text-center {
    text-align: center
}
a, button, div, p, span {
    font-family: Poppins;
}
.avt {
    position: relative
}

.avt .fa-check-circle {
    position: absolute;
    color: #5d93fe;
    font-size: 13px;
    bottom: 0;
    right: -4px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #fff
}

.avt img {
    border-radius: 50%;
    width: 100%
}

.avt .avt-img {
    min-width: 25px
}

.avt .vip-avatar {
    position: absolute;
    top: -3px;
    left: -2px
}

.avt .stt {
    width: 10px;
    height: 10px;
    background-color: #b8b8b8;
    border: 2px solid #e9ebee;
    border-radius: 50%;
    position: absolute;
    bottom: -2px;
    right: 0;
    padding: 5.5px
}

.avt .stt-ready {
    background-color: #27ae60
}

.avt .stt-busy {
    background-color: #ff9948
}

.avt .stt-stop {
    background-color: #f0564a
}

.avt .stt-offline {
    background-color: #9298a1
}

.avt-rank {
    position: relative
}

.avt-rank .avt-img {
    border-radius: 50%;
    width: 100%
}

.avt-rank .rank-img {
    position: absolute;
    left: 0;
    top: 0
}

.avt-xs {
    width: 25px;
    height: 25px
}

.avt-sm {
    width: 40px;
    height: 40px
}

.avt-sm.avt-rank {
    width: 42px;
    height: 45px
}

.avt-sm.avt-rank .avt-img {
    max-height: 42px
}

.avt-sm.avt-rank .avt-1-15 {
    padding: 2px
}

.avt-sm.avt-rank .rank-1-15 {
    top: -3px
}

.avt-sm.avt-rank .rank-1618 {
    top: -1px
}

.avt-md {
    width: 50px;
    height: 50px
}

.avt-md.avt-rank {
    width: 52px;
    height: 55px
}

.avt-md.avt-rank .avt-img {
    max-height: 54px
}

.avt-md.avt-rank .avt-1-15 {
    padding: 3px
}

.avt-md.avt-rank .rank-1-15 {
    top: -3px
}

.avt-md.avt-rank .rank-1618 {
    top: -1px
}

.avt-create-album {
    width: 150px;
    height: 150px
}

.avt-create-album img {
    border-radius: 15px
}

.avt-album {
    width: 68px;
    height: 68px
}

.avt-album img {
    width: 70px;
    height: 70px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 0
}

.avt-lg {
    width: 230px;
    height: 230px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px
}

.avt-lg img {
    border-radius: 4px
}
.title-player-profile {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #354052
}
.avt-md.avt-rank .rank-1-15 {
    top: -3px;
}
.review-duo-player .full-size .wrapper-content-rating .content-player-review {
    word-break: break-word;
    text-align: justify;
    display: inline-block;
    width: 100%
}
.fa-star-active {
    color: #ff9948;
}
